<h1 mat-dialog-title>Modificare date utilizator

</h1>
<div mat-dialog-content>

  <form [formGroup]="users"
        (ngSubmit)="f.form.valid &&editUser()"
        #f="ngForm"
        novalidate>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <select matNativeControl name="role" formControlName="role" required [(ngModel)]="data.type">


          <option value="ROLE_USER">ROLE_USER</option>
          <option value="ROLE_ADMIN">ROLE_ADMIN</option>

        </select>
      </mat-form-field>
    </div>

  </form>


</div>

<div>
  <button (click)="editUser()" color="accent" mat-raised-button>Modificati datele utilizatorul</button>

</div>
<div class="closebtn">
  <button (click)="close()" color="accent" mat-raised-button>Inchideti</button>
</div>
