<div class="container">
  <form class="form-reviews"   [formGroup]="reviews"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>
    <p>Adauga review-uri pentru camere</p>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Titlu review</mat-label>
        <input matInput required formControlName="reviewtitle" [(ngModel)]="form.reviewtitle">
        <mat-error>
          Introduceti titlul review-ului
        </mat-error>

      </mat-form-field>
    </div>


    <div>
      <mat-form-field appearance="outline">
        <mat-label>Text review</mat-label>
        <textarea matInput required formControlName="reviewtext"  [(ngModel)]="form.reviewtext"></textarea>
        <mat-error>
          Introduceti textul review-ului
        </mat-error>

      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Room id</mat-label>
        <input matInput required formControlName="roomid"  [(ngModel)]="form.roomid">
        <mat-error>
          Introduceti numarul camerei
        </mat-error>

      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="accent">Salveaza review-ul</button>
    </div>
  </form>

</div>
