<div class="container">
  <div class="row">
  <div class="column1" >
<div class="container">
  <img class="intro" src="assets/Images/intro.jpg" alt="Nu exista">
</div>
</div>

  <div class="column2" id="right" >
<div class="container">
  <p class="textinfo">Toate drumurile duc la Hotelya se spune,asta pentru ca amplasarea si dotarile hotelului   fac sa fie unul dintre cele mai cautate hoteluri de pe litoralul romanesc .</p>
    <p class="textinfo">Consideram ca locatia hotelului este una linistita,asfel daca alegeti sa va petreceti vacanta la noi o sa va incarcati complet bateriile.
    </p>
    <p class="textinfo">Va asteptam la noi!</p>
</div>


  </div>

</div>
</div>
