.textinfo{
  font-size:25px;
width: 100%;
padding-top: 50px;

text-align: center;
padding-left: 80px;

font-family: 'Roboto',sans-serif;



}



.row{
padding-top: 20px;
}




.column1 {
float: left;
width: 50%;




}
.column2 {
float: left;
width: 50%;

text-align: center;
padding-left: 30px;




}
.intro {
  width: 95%;
  height: 95%;
}
@media screen and (max-width:1000px){
  .column1 {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
  .textinfo{

    padding-right: 100px;
    padding-bottom: 70px;
  font-size:15px;

  }
}
