
  <footer>
    
    <div class="footer-container">
      <div class="left-col">
          <p>Logo</p>
        <img src="assets/Images/logo.jpeg"  class="logo">

        <p class="rights-text">© 2021 Realizat de Nitescu Cornel Ionut </p>
      </div>
      <div class="mid-col">
        <a class="link"  (click)="openModal()">Politica de confidentialitate si fidelitate </a>
<br><br>
<a class="link" (click)="openModal2()">Reguli de ordine interioara</a>
      </div>
      <div class="right-col">
        <h1>Date de contact</h1>
        <div class="border"></div>
<p>Telefon:0732129278</p>
<p>Adresa de email:receptie@hotelya.ro</p>
      </div>
    </div>
  </footer>
  

  
  
 