
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->



	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	

	
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	
	
</head>

<body>
<div>
	<app-navbar></app-navbar>

	<div class="col-md-12 col-md-pull-7">
		<div class="booking-form">
			<form 
			name="form"
			(ngSubmit)="f.form.valid && onSubmit()"
			#f="ngForm"
			novalidate>
			
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<span class="form-label">Check In</span>
							<input class="form-control" type="date" name="checkin"   [(ngModel)]="form.checkin"  #checkin="ngModel"  required > 
							<div class="alert-danger" *ngIf="checkin.errors && f.submitted">
								<div *ngIf="checkin.errors.required">Introduceti data de sosire.</div>
					</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<span class="form-label">Check out</span>
							<input class="form-control" type="date" name="checkout"   [(ngModel)]="form.checkout"  #checkout="ngModel"  required > 
							<div class="alert-danger" *ngIf="checkout.errors && f.submitted">
								<div *ngIf="checkout.errors.required">Introduceti data de plecare.</div>
						</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="form-group">
							<span  class="form-label">Camere</span>
							<select name="noofrooms" class="form-control">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
							<span class="select-arrow"></span>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<span class="form-label">Adulti</span>
							<select name="noofadults" class="form-control">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
							<span class="select-arrow"></span>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<span  class="form-label">Copii</span>
							<select name="noofchildrens" class="form-control">
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
							</select>
							<span class="select-arrow"></span>
						</div>
					</div>
				
				</div>
				<div>
					<mat-checkbox>Calatoresc in interes de serviciu</mat-checkbox>
					
				</div>
				<div class="form-btn">
					<button class="submit-btn" (click)="myfunc()">Verifica dispoibilitatea</button>
				</div>
			
			</form>
		</div>
	</div>
	<div *ngIf="diplay&&submitted===true">
		<app-roominfo [checkin]="form.checkin" [checkout]="form.checkout" ></app-roominfo>
		
		</div>
</div>

			
	
</body>

</html>