<div class="images">
  <p class="textinfo">Imagini din exterior</p>
  <ngb-carousel class="carousel" >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="imgcar" src="assets/Images/exterior1.jpg" >
      </div>

    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="imgcar" src="assets/Images/exterior2.jpg" >
      </div>

    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="imgcar" src="assets/Images/exterior3.jpg"  alt="nu exista">
      </div>

    </ng-template>

  </ngb-carousel>
</div>
