<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="userid">
      <mat-header-cell *matHeaderCellDef mat-sort-header> UserId</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="UserId"> {{element.userid}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nume</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Nume"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Email"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Username</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Username"> {{element.username}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Rol</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Rol"> {{element.type}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="action">

      <mat-header-cell *matHeaderCellDef> Actiuni</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Actiuni">
        <button mat-icon-button color="primary"
                (click)="edit(element.userid,element.name,element.email,element.username,element.type)"
                matTooltip="Modificati utilizatorul" matTooltipPosition="left">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="delete(element.userid)" matTooltip="Stergeti utilizatorul"
                matTooltipPosition="left">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 15, 25]" showFirstLastButtons></mat-paginator>
</div>




