<div class="container">
  <form [formGroup]="search"
        (ngSubmit)="f.form.valid"
        #f="ngForm"
        novalidate>
    <p>Filtrare field-uri</p>

    <div >
      <mat-form-field appearance="outline">
        <mat-label>Cauta dupa id-ul utilizatorului</mat-label>
        <input matInput formControlName="userid" [(ngModel)]="form.userid" >
        <mat-icon matSuffix (click)="searchByUserId()">search</mat-icon>

      </mat-form-field>
    </div>


    <div>
      <mat-form-field appearance="outline">
        <mat-label>Cauta dupa nume </mat-label>

        <input matInput formControlName="name" [(ngModel)]="form.name">
        <mat-icon matSuffix (click)="searchByName()">search</mat-icon>
      </mat-form-field>
    </div>
    <div >
      <mat-form-field appearance="outline">
        <mat-label>Cauta dupa email</mat-label>
        <input matInput formControlName="email" [(ngModel)]="form.email" >
        <mat-icon matSuffix (click)="searchByEmail()">search</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Cauta dupa username</mat-label>
        <input matInput formControlName="username" [(ngModel)]="form.username" >
        <mat-icon matSuffix (click)="searchByUsername()" >search</mat-icon>
      </mat-form-field>
    </div>




  </form>
</div>
<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="userid">
      <mat-header-cell *matHeaderCellDef mat-sort-header> UserId</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="UserId"> {{element.userid}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nume</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Nume"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Email"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Username</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Username"> {{element.username}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Rol</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Rol"> {{element.type}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="action">

      <mat-header-cell *matHeaderCellDef> Actiuni</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Actiuni">
        <button mat-icon-button color="primary"
                (click)="edit(element.userid,element.name,element.email,element.username,element.type)"
                matTooltip="Modificati utilizatorul" matTooltipPosition="left">
          <mat-icon>edit</mat-icon>
        </button>

      </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 15, 25]" showFirstLastButtons></mat-paginator>
</div>




