<div class="info" *ngFor="let item of room">
	
		<div class="image">
	
<ngb-carousel class="carousel" >

    <ng-template ngbSlide *ngFor="let image of item.images">
      <div class="picsum-img-wrapper">
        <img class="imgcar" src="{{image.imagepath}}" >
      </div>

    </ng-template>

  </ngb-carousel>
		</div>	
		<div class="name">
			{{item.name}}
		</div>

	<div class="name">

		{{item.roomdetails}}
	</div>
	
	<div class="button">

		<button  routerLink="/room/{{item.roomid}}" type="button" class="btn btn-dark" >Rezerva</button> 
	

		
	
	</div>
	


