<div *ngIf="roomDetails.length===0&&roomReservation.length===0">
<div class="info" *ngFor="let room of rooms">
  <div class="col">



    <img class="imgcar" src="{{room.roomImage[0].imagepath}}" >



  </div>
  <div class="col">
    {{room.name}}
  </div>

  <div class="col">

    {{room.roomdetails}}
  </div>

  <div class="col">
    <button mat-raised-button color="primary"  (click)="viewRooms(room.roomid,room.name,room.roomdetails,room.roomtype,room.roomImage)"   type="button"  >Vizualizeaza camera</button>
  </div>
  <div class="col">
    <button mat-raised-button color="primary"  (click)="reserveRoom(room.roomid)"   type="button"  >Rezerva</button>
  </div>
</div>
</div>

<div *ngIf="roomDetails.length===0&&roomReservation.length>0">
  <div class="info" *ngFor="let room of roomInformation">
    <div class="col">



      <img class="imgcar" src="{{room.images[0].imagepath}}" >



    </div>
    <div class="col">
      {{room.name}}
    </div>

    <div class="col">

      {{room.roomdetails}}
    </div>
    <div class="col">
      <button mat-raised-button color="primary"  (click)="viewRooms(room.roomid,room.name,room.roomdetails,room.roomtype,room.images)"   type="button"  >Vizualizeaza camera</button>
    </div>
    <div class="col">
      <button mat-raised-button color="primary" (click)="reserveRoom(room.roomid)" type="button"  >Rezerva</button>
    </div>
  </div>
</div>

<div *ngIf="roomDetails.length>0">
  <div class="info" *ngFor="let room of roomDetails">
    <div class="col">



      <img class="imgcar" src="{{room.images[0].imagepath}}" >



    </div>
    <div class="col">
      {{room.name}}
    </div>

    <div class="col">

      {{room.roomdetails}}
    </div>
    <div class="col">
      <button mat-raised-button color="primary"  (click)="viewRooms(room.roomid,room.name,room.roomdetails,room.roomtype,room.images)"   type="button"  >Vizualizeaza camera</button>
    </div>
    <div class="col">
      <button mat-raised-button color="primary" (click)="reserveRoom(room.roomid)"  type="button" >Rezerva</button>

    </div>
  </div>

</div>
<div *ngIf="nrofClicks>=noofrooms">
  <div class="container button">
    <button mat-raised-button color="primary" (click)="finishreservation()">Finalizeaza  rezervarea</button>
  </div>


</div>


