.info{
    width: 100%;
 display: flex;
 padding:20px
}
.image{
width: 25%;
float: left;
}
.room{
    width: 300px;
    height: 200px;
}
.name{
    width: 25%;
    justify-content: center;
    float: left;
}
.button{
    width: 25%;
    float: left;
}
@media screen and (max-width:1000px) {
    .info{
        
width: 100%;

    }
    .image{
        width: 100%;
    }
    .name{
        width: 100%;

    }
    .button{
        width: 100%;
    }
}