
<div class="example-container mat-elevation-z8">
 <mat-table [dataSource]="users" >


    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nume </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="nume">
        {{element.name}} </mat-cell>

    </ng-container>


    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="email">

        {{element.email}} </mat-cell>

    </ng-container>


    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>

      <mat-cell *matCellDef="let element" data-label="username">

        {{element.username}}
      </mat-cell>
    </ng-container>
   <ng-container matColumnDef="actiuni">
     <mat-header-cell *matHeaderCellDef> Actiuni </mat-header-cell>

       <mat-cell *matCellDef="let element" data-label="actiuni">

         <button mat-icon-button color="primary"  matTooltip="Modificati datele personale" (click)="displayform()"><mat-icon>edit</mat-icon></button>
       </mat-cell>

   </ng-container>
   <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: columns;"></mat-row>
 </mat-table>
</div>
<div class="container">
  <form *ngIf="hidden" name="form" class="formuser"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>
    <div class="container">
      <p>Modificati datele personale</p>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Nume</mat-label>
        <input matInput  name="name"[(ngModel)]="users[0].name"  >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput  name="email"  [(ngModel)]="users[0].email" >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput  name="username" [(ngModel)]="users[0].username" >
      </mat-form-field>
    </div>
    <div>

      <button mat-raised-button color="accent">Modificati datele</button>

    </div>
  </form>


</div>
