<mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Vizualizare  utilizatori">
<app-view-users></app-view-users>
  </mat-tab>
  <mat-tab label="Vizualizare  camere">
<app-view-rooms></app-view-rooms>
  </mat-tab>
  <mat-tab label="Vizualizare  rezervari">
<app-view-all-reservations></app-view-all-reservations>
  </mat-tab>

  <mat-tab label="Statistici">
    <app-staticstics></app-staticstics>
  </mat-tab>
  <mat-tab label="Acasa">

  </mat-tab>
</mat-tab-group>
