
  <div class="container">
    <div class="title">Logare</div>
    <div class="content">
      <form *ngIf="!isLoggedIn" [formGroup]="users" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="inputs" >
        <mat-form-field appearance="outline" hideRequiredMarker>
          <mat-label>Numele de utilizator</mat-label>
          <input matInput required formControlName="username" [(ngModel)]="form.username" minlength="3" maxlength="20" >

        </mat-form-field>
      </div>
      <div class="inputs">
       <mat-form-field appearance="outline" hideRequiredMarker>
         <mat-label>Parola</mat-label>
         <input matInput  [type]="hide ? 'password' : 'text'" formControlName="password" [(ngModel)]="form.password" required>
         <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

         </mat-form-field>
         </div>
7

        <div class="button">
          <input type="submit" value="LogIn">
        </div>
        <p>Nu aveti cont? <a class="create" (click)="openRegister()">Creati unul</a></p>
        <button mat-flat-button color="warn"(click)="closeModal()" >Iesire</button>

        <div>
          <a class="forgot">Am uitat parola</a>
        </div>



      </form>
      <div class="alert alert-success" *ngIf="isLoggedIn">
        Logare realizata cu succes

      </div>
      <div *ngIf="roles=='ROLE_USER'" >
        <button class="user" (click)="goToUser()">Vreau sa mi vad profilul</button>
             </div>
             <div *ngIf="roles=='ROLE_ADMIN'">
              <button class="admin" (click)="goToAdmin()">Vreau sa mi vad profilul</button>

                     </div>

    </div>
  </div>


