


<mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Vizualizare date personale">
    <app-userdata></app-userdata>
  </mat-tab>
  <mat-tab label="Vizualizare rezervari">
    <app-view-reservations></app-view-reservations>
  </mat-tab>
  <mat-tab label="Adauga review camera">
<app-room-review></app-room-review>
  </mat-tab>
  <mat-tab label="Adauga review hotel">
<app-hotel-review></app-hotel-review>
  </mat-tab>
  <mat-tab label="Acasa">

  </mat-tab>
</mat-tab-group>
