{{data.roomtype}}
<div class="rooms">
    <div class="container">
      <h3>Detaliile camerei </h3>
      <div  class="info">

        <p>Numele camerei:{{data.roomname}} </p>
        <p>Tipul camerei:{{data.roomtype}}</p>
        <p>Detalii camera:{{data.roomdetails}}</p>


      </div>






    </div>
  </div>

<div class="rooms">
  <div class="container">
    <h3>Numar vizualizari</h3>
    <div  class="info" *ngIf="roomsViewed.nrvizualizari>1">

      <p>Aceasta camera a fost vizualizata de {{roomsViewed.nrvizualizari}} persoane </p>



    </div>

    <div  class="info" *ngIf="roomsViewed.nrvizualizari===1">

      <p>Aceasta camera a fost vizualizata de  o {{roomsViewed.nrvizualizari}} persoana </p>



    </div>




  </div>
</div>

<div class="container">
<div *ngIf="freeRooms.nroffreerooms===1">
  <p class="warning">Grabiti-va!Mai este doar o camera libera cu tipul {{data.roomtype}}</p>
</div>
  <div *ngIf="freeRooms.nroffreerooms>=2||freeRooms.nroffreerooms<5">
    <p class="good">Mai sunt doar  {{freeRooms.nroffreerooms}} libere cu tipul {{data.roomtype}}</p>
  </div>
  <div *ngIf="freeRooms.nroffreerooms>=5">
    <p class="ok">Mai sunt doar {{freeRooms.nroffreerooms}} libere cu tipul {{data.roomtype}}</p>
  </div>
</div>

  <div class="container">

    Imaginile camerei
    <ngb-carousel class="carousel">

      <ng-template *ngFor="let image of data.images"  ngbSlide>

       <div >
         <img class="img-fluid imgcar" src="{{image.imagepath}}">
       </div>
      </ng-template>

    </ngb-carousel>
  </div>


<div class="container buttonclose">
  <button (click)="close()" mat-raised-button color="warn" >Iesire</button>
</div>

