<div class="rooms">
  <div *ngIf="rooms" class="info">

    <p>Numele camerei:{{rooms.name}} </p>
    <p>Tipul camerei:{{rooms.roomtype}}</p>
    <p>Detalii camera:{{rooms.roomdetails}}</p>


  </div>
  <form name="form" class="infoform">
    <mat-card>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Checkin</mat-label>
          <input matInput readonly value="{{checkin}}">

        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Checkout</mat-label>
          <input matInput readonly value="{{checkout}}">

        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Numar de camere</mat-label>
          <input matInput readonly value="{{noofrooms}}">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Numar de adulti</mat-label>
          <input matInput readonly value="{{noofadults}}">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Numar de copii</mat-label>
          <input matInput readonly value="{{noofchildrens}}">
        </mat-form-field>

      </div>
    </mat-card>
  </form>


  <div class="roomimage">
    <ngb-carousel class="carousel">

      <ng-template ngbSlide *ngFor="let images of image">
        <div class="picsum-img-wrapper">
          <img class="imgcar" src="{{images.imagepath}}">
        </div>

      </ng-template>

    </ngb-carousel>
  </div>

  <div class="booking">
    <h2>Beneficii:</h2>
    <div class="col">
      <mat-icon>
        wifi
      </mat-icon>
      <p class="text">wi-fi</p>
    </div>
    <div class="col">
      <mat-icon> local_parking</mat-icon>
      <p class="text">Parcare gratuita</p>
    </div>
    <div class="col">
      <mat-icon> restaurant</mat-icon>
      <p class="text">Acces la restaurant</p>
    </div>
    <div class="col">
      <mat-icon>tv</mat-icon>
      <p class="text">Televizor</p>
    </div>
    <div class="col">
      <mat-icon>room_service</mat-icon>
      <p class="text">Room-service</p>
    </div>
    <div class="col">
      <mat-icon>smoking_rooms</mat-icon>
      <p class="text">Camera pentru fumatori</p>
    </div>
    <div class="col">
      <mat-icon>spa</mat-icon>
      <p class="text"> Acces la spa</p>

    </div>
    <div class="col">
      <mat-icon>pool</mat-icon>
      <p class="text">Acces la piscina</p>
    </div>
  </div>

  <h2 class="reviewmesage">Review-urile vizitatorilor nostrii despre aceasta camera:</h2>
  <div class="reviews">

    <ngx-slick-carousel class="carouselslick"
                        #slickModal="slick-carousel">

      <div ngxSlickItem class="slide" *ngFor="let review of reviews">
        <mat-card class="reviewcard">
          <p class="reviewtext">Autor Review:{{review.name}}</p>
          <p class="reviewtext">Titlu Review:{{review.reviewtitle}}</p>
          <p class="reviewtext">Review:{{review.reviewtext}}</p>
        </mat-card>
      </div>

    </ngx-slick-carousel>


  </div>
  <form (ngSubmit)="onClick()" class="finalinfo">
    <h2>Date finale despre rezervare:</h2>

    <div class="colinfo">
      <h2>Checkin: {{checkin}}</h2>
    </div>
    <div class="colinfo">
      <h2>Checkout: {{checkout}}</h2>
    </div>
    <div class="colinfo" >
      <h2>Pret final: {{price.finalprice}}  {{price.pricecurency}}  </h2>


    </div>
    <div class="colinfo">
      <button mat-raised-button color="warn" type="submit">Finalizeaza rezervarea</button>

    </div>

  </form>

</div>


