

    <div id="modal-content-wrapper">
        <div class="col">
        <header id="modal-header">
            <h1 id="modal-title">Regulament intern Hotelya</h1>
        </header>
        <section id="modal-body">
            <p>1.Tarife </p>
                   <ul class="list-group list-group-flush">
                <li class="list-group-item">Copiii cu varste cuprinse intre 0-2 ani au gratuitate atat la cazare cat si la mic dejun, fara pat suplimentar.;</li>
                <li class="list-group-item"> Copiii cu varste cuprinse intre 3-6 ani beneficiaza de gratuitate la cazare in acelasi pat cu parintii si achita 50% din contravaloarea meselor, in functie de pachetul de masa ales.;</li>
                <li class="list-group-item">Copiii cu varste peste 12 ani sunt considerati adulti, iar suplimentul va fi de 50 lei/noapte pentru pat suplimentar + 100% din contravaloarea meselor, in functie de pachetul de masa ales.;</li>
                <li class="list-group-item">Al doilea copil intre 0-6 ani, in camera cu 2 adulti achita supliment de cazare (47 lei/noapte) si 50% gratuitate la mese.;</li>
                <li class="list-group-item">Al doilea copil intre 7-12 ani, in camera cu 2 adulti achita patul suplimentar in valoare de 50 lei/noapte si 100% din contravaloarea meselor, in functie de pachetul de masa ales.</li>
              </ul>

             <p>2.Politica de check-in si check-out</p>
             <ul class="list-group list-group-flush">
             <li class="list-group-item">Cazarea se face incepand cu orele 16:00,  iar predarea camerelor se face cel mai tarziu la orele 12:00.;</li>
             <li class="list-group-item">In cazul in care doriti sa va cazati inainte de orele 16:00, cazarea se face in functie de disponibilitati.;</li>
             <li class="list-group-item">In cazul in care doriti sa eliberati camera mai tarziu de orele 16:00, dar fara sa depasiti orele 18:00 sunteti obligat sa ne anuntati cu minim 7 zile inainte iar daca disponibilitatea camerelor permite acest lucru se va achita la receptie o taxa suplimentara, ”late check-out” reprezentand jumatate din tariful de cazare al unei camere, fara mic dejun.;</li>
             <li class="list-group-item"> In cazul in care doriti sa eliberati camera mai tarziu de orele 18:00 sunteti obligat sa ne anuntati cu minim 7 zile inainte iar daca disponibilitatea camerelor permite acest lucru se va achita la receptie o taxa suplimentara, ”late check-out” reprezentand valoarea unei nopti de cazare, fara mic dejun.;</li>
             <li class="list-group-item"> Oaspeții care eliberează camerele până la ora 12.00 pot lăsa bagajele la recepție, într-un spațiu dedicat acestui serviciu, pentru un interval de 24 de ore fără costuri suplimentare.</li>


             </ul>

        </section>

        <footer id="modal-footer">

            <button mat-raised-button color="warn" (click)="closeModal()">Inchide</button>
        </footer>
    </div>
    </div>


