<div *ngIf="reservation.length===0;else other_content">
  Nu aveti rezervari
</div>
<ng-template #other_content>
  <div>
    <table mat-table [dataSource]="dataSource"  matSort class="mat-elevation-z8">
      <ng-container matColumnDef="reservationid">
        <th id="reservationid" mat-header-cell *matHeaderCellDef mat-sort-header> RezervationId</th>
        <td mat-cell *matCellDef="let element"> {{element.rezervationid}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th id="name" mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th id="email" mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="roomtype">
        <th id="roomtype" mat-header-cell *matHeaderCellDef mat-sort-header> RoomType</th>
        <td mat-cell *matCellDef="let element"> {{element.roomtype}} </td>
      </ng-container>


      <ng-container matColumnDef="checkin">
        <th id="checkin" mat-header-cell *matHeaderCellDef mat-sort-header> Checkin</th>
        <td mat-cell *matCellDef="let element"> {{element.checkin}} </td>
      </ng-container>
      <ng-container matColumnDef="checkout">
        <th id="checkout" mat-header-cell *matHeaderCellDef mat-sort-header> CheckOut</th>
        <td mat-cell *matCellDef="let element"> {{element.checkout}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 15, 25]" showFirstLastButtons></mat-paginator>
  </div>
</ng-template>





