
<div class="container">
  <form [formGroup]="search"
        (ngSubmit)="f.form.valid"
        #f="ngForm"
        novalidate>
    <p>Filtrare field-uri</p>

    <div >
      <mat-form-field appearance="outline">
        <mat-label>Cauta dupa id-ul rezervarii</mat-label>
        <input matInput formControlName="reservationid" [(ngModel)]="form.reservationid" >
        <mat-icon matSuffix (click)="searchByReservationId()">search</mat-icon>

      </mat-form-field>
    </div>



    <div >
      <mat-form-field appearance="outline">
        <mat-label>Cauta dupa nume</mat-label>
        <input matInput formControlName="name" [(ngModel)]="form.name" >
        <mat-icon matSuffix (click)="searchByName()">search</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Cauta dupa email</mat-label>
        <input matInput formControlName="email" [(ngModel)]="form.email" >
        <mat-icon matSuffix (click)="searchByEmail()" >search</mat-icon>
      </mat-form-field>
    </div>
    <div >
      <mat-form-field appearance="outline">
        <mat-label>Cauta dupa tipul camerei</mat-label>
        <input matInput formControlName="roomtype" [(ngModel)]="form.roomtype">
        <mat-icon matSuffix (click)="searchByRoomType()" >search</mat-icon>
      </mat-form-field>
    </div>



  </form>
</div>
<div class="example-container mat-elevation-z8">
    <mat-table [dataSource]="dataSource"  matSort>
      <ng-container matColumnDef="reservationid">
        <mat-header-cell *matHeaderCellDef mat-sort-header> RezervationId</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="reservationid"> {{element.rezervationid}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="name"> {{element.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="email"> {{element.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="roomtype">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Tipul camerei</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Tipul camerei"> {{element.roomtype}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="checkin">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Checkin</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Checkin"> {{element.checkin}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="checkout">
        <mat-header-cell *matHeaderCellDef mat-sort-header> CheckOut</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="checkout"> {{element.checkout}} </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 15, 25]" showFirstLastButtons></mat-paginator>
  </div>






