
  <div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource"  matSort >
    <ng-container matColumnDef="roomid">
      <mat-header-cell *matHeaderCellDef mat-sort-header> RoomId</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="RoomId"> {{element.roomid}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nume</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Nume"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="roomtype">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Tipul camerei</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Tipul camerei"> {{element.roomtype}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="roomdetails">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Detaliile camerei</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Detaliile camerei"> {{element.roomdetails}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="roomprice">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pretul camerei</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Pretul camerei"> {{element.roomprice}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="pricecurency">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Moneda</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Moneda"> {{element.pricecurency}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Actiuni</mat-header-cell>

      <mat-cell *matCellDef="let element" data-label="Actiuni">


        <button mat-icon-button color="primary" (click)="edit(element.roomid,element.name,element.roomtype,element.roomdetails,element.roomprice,element.pricecurency)"  matTooltip="Modificati camera" matTooltipPosition="left">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="delete(element.roomid)"   matTooltip="Stergeti camera" matTooltipPosition="left">
          <mat-icon>delete_outline</mat-icon>
        </button>
        <button mat-icon-button color="primary"  (click)="viewImages(element.roomid)"  matTooltip="Vizualizati imaginile camerei" matTooltipPosition="left">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
      </mat-cell>
      <ng-container matColumnDef="create_room">
        <mat-header-cell *matHeaderCellDef>
          <mat-icon (click)="addRoom()" class="materials-icons" aria-hidden="false" style="cursor: pointer ;" matTooltip="Adaugare camere">
            add_circle_outline
          </mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
        </mat-cell>
      </ng-container>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 15, 25]" showFirstLastButtons></mat-paginator>

  </div>




