
  <div class="sevicii">
    <app-navbar></app-navbar>

      <div class="services">
        <div class="container">
        <p class="textservices">De ce sa ne alegeti pe noi? </p>
        <p class="textservices" > Serviciile noastre se potrivesc oricaror nevoi,fie unei vacante in familie cat si unei conferinte de afaceri ,de aceea consideram ca hotelul nostru este potrivit pentru dumneavoasra.</p>
        <p class="textservices" > Mai jos prezentam cateva dintre serviciile noaste pentru a decide daca Hotelya este alegerea corecta pentru ce aveti nevoie.</p>
      </div>

    </div>



  <div class="row">

    <div class="column1 left" >
      <div class="container">
      <p class="higher">Piscina interioara</p>
      <p>Piscina noastra interioara este un loc relaxant fie intr-o vacanta cu familia,fie intr-o vizita in interes de serviciu.</p>
      <p>Daca va doriti o vacanta  la un hotel cu piscină, va veti bucura cu siguranta de piscina noastră interioara, unde puteti  profita de proprietatiile tamaduitoare ale inotului.</p>
      <p>De asemenea,in camera unde este amplasata piscina,va puteti relaxa printr-o discutie cu familia sau citind o carte.</p>
    </div>
    </div>
    <div class="column2" >
<div class="container">
  <img class="imgcolumn" src="assets/Images/4.jpg">
</div>


    </div>
  </div>


      <div class="row">
        <div class="column2">
          <div class="container">
            <img class="imgcolumn" src="assets/Images/5.jpg">
          </div>

        </div>
        <div class="column1 right" >

          <div class="container">
            <p class="higher">Spa</p>
            <p>Credem ca relaxarea ajuta semnificativ orice proces de vindecare (fie el de natura fizica sau psihica), de aceea am creat diverse sectiuni si activitati terapeutice de Wellness in cadrul clinicii, menite sa te ajute in drumul tau catre echilibru.</p>
            <p>Pentru a putea beneficia de aceste servicii,trebuie sa va faceti o programare cu o zi inainte .</p>
            <p>Program: L-V 10-18. </p>
          </div>

        </div>

    </div>



  <div class="row">
    <div class="column1 left">
      <div class="container">
      <p class="higher">Terenuri de fotbal si tenis</p>
      <p>Daca sunteti pasionati de sporturi si nu va place sa pierdeti timpul in interior,terenurile noastre de fotbal si tenis sunt o oportunitatea pentru petrecerea timpului liber.</p>
      <p>Aici va puteti relaxa impreuna cu familia sau cu alte persoane aflate in vacanta.</p>
      <p>Aceste terenuri sunt proiectate pentru a juca tenis de camp,tenis de picior si fotbal.</p>
    </div>
    </div>
    <div class="column2" >
      <div class="container">
        <img class="imgcolumn" src="assets/Images/7.jpg">
      </div>



    </div>
  </div>



    <div class="row">
    <div class="column2 "  >
      <div class="container">
        <img class="imgcolumn" src="assets/Images/8.jpg">
      </div>


      </div>

    <div class="column1 right" >

      <div class="container">
        <p class="higher">Parcare proprie</p>
        <p>Parcarea se afla spre intrarea din spate a hotelului,avand un numar mare de locuri special pentru dumneavoasra.</p>
        <p>Parcarea este iluminata,putand astfel sa va vedeti masina pe timp de noapte.</p>
        <p>De asemenea,canerele noastre de supraveghere au vedere spre parcare,asa ca puteti fi sigur ca masina dumneavoasra este in siguranta. </p>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="column1 left" >
        <div class="container">
          <p class="higher">Restaurant </p>
          <p>Restaurantul nostru este unul de inalta calitate,dumneavoasra avand ocazia sa mancati preparate realizate de  unii dintre cei mai mari chefi</p>
          <p>Mancarurile noastre sunt pentru toate gusturile,fiecare dintre dumneavoasra putand sa aleaga intre ce doreste sa serveasca.</p>
          <p>Mai jos puteti vedea cateva dintre preparatele realizate pentru dumneavoasra de chefii nostrii.</p>
        </div>
        </div>

      <div class="column2" >
        <div class="container">
          <img class="imgcolumn" src="assets/Images/9.jpeg">
        </div>



      </div>
      </div>
    <h2 class="menutext">Meniurile noastre:</h2>
    <div class="row">

    <div class="column3">
      <div class="container">
      <ul class="list-group">

          <li class="list-group-item active">Meniu mic dejun</li>
          <li class="list-group-item">Omleta</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/10.jpg"></li>
          <li class="list-group-item">Ou ochi</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/11.jpg"></li>
          <li class="list-group-item">Carnaciori la gratar</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/12.jpg"></li>
          <li class="list-group-item">Telemea cu rosii</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/13.jpg"></li>
          <li class="list-group-item">Clatite cu ciocolata</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/14.jpg"></li>
          <li class="list-group-item">Aperitiv</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/15.jpg"></li>
      </ul>
    </div>
        </div>

    <div class="column3">
      <div class="container">
        <ul class="list-group">
          <li class="list-group-item active">Meniu pranz</li>
          <li class="list-group-item">Ciorba de burta</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/16.jpg"></li>
          <li class="list-group-item">Ciorba de perisoare</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/17.jpg"></li>
          <li class="list-group-item">Ciorba de vacuta</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/18.jpg"></li>
          <li class="list-group-item">Ciorba de pui</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/19.jpg"></li>
          <li class="list-group-item">Ceafa de porc cu cartofi prajiti</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/20.jpg"></li>
          <li class="list-group-item">Varza calita</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/21.jpg"></li>
        </ul>
      </div>

    </div>
    <div class="column3">
      <div class="container">
        <ul class="list-group">
          <li class="list-group-item active">Meniu cina</li>
          <li class="list-group-item">Pizza</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/22.jpg"></li>
          <li class="list-group-item">Cascaval pane</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/23.jpg"></li>
          <li class="list-group-item">Cartofi copti la cuptor</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/24.jpg"></li>
          <li class="list-group-item">Rulada cu dulceata</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/25.jpg"></li>
          <li class="list-group-item">Tort de ciocolata</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/26.jpg"></li>
          <li class="list-group-item">Tort de fructe</li>
          <li class="list-group-item"><img class="img-fluid" src="assets/Images/27.jpg"></li>

        </ul>
      </div>

    </div>
  </div>
    <footer>
      <app-footer></app-footer>
    </footer>

  </div>





