<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body >
    <div id="modal-content-wrapper">
  <div class="col">
    <header id="modal-header">
        <h1 id="modal-title">Politica de confidentialitate  Hotelya</h1>
    </header>
    <section id="modal-body">
        <p>Respectarea dreptului la protectia datelor cu caracter personal, precum si a dreptului la viata privata este una din misiunile fundamentale ale noastre.</p>
        <p>CE FEL DE DATE PERSONALE PRELUCRAM?</p>

           <h1>1.Dacă sunteți client sau potențial client</h1>
            
           <p>Colectăm date cu caracter personal în urma celor mai multe interacțiuni cu dvs., precum și în cadrul celorlalte aspecte ale activității noastre. Categoriile de date pe care le prelucrăm sunt următoarele:</p> 
        
       <h1>2.Dacă sunteți potențial angajat</h1>
    <p>Colectăm informațiile din CV-ul trimis de dvs. precum și orice altă informație transmisă odată cu CV-ul și/sau în cadrul interviurilor la care v-ați prezentat.</p>    
      <h1>3.Dacă sunteți utilizator al site-ului nostru</h1>
      <p>Pentru citirea informațiilor existente pe site nu este necesară oferirea datelor personale. Totuși, in scopul exploatării tehnice a portalului, Hotel Vega Mamaia folosește provizoriu următoarele informații ce nu conțin date personale si care apar automat administratorului de site:</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">adresa de internet de protocol (IP);</li>
        <li class="list-group-item">denumirea domeniului (URL);</li>
        <li class="list-group-item">datele de accesare;</li>
        <li class="list-group-item">file-ul de accesare al clientului (denumirea file-ului si URL);</li>
        <li class="list-group-item">codul HTTP al parolei răspuns;</li>
        <li class="list-group-item">datele paginii web de unde se face accesarea</li>
      </ul>
    </section>
  </div>
  <div class="col">
  <header id="modal-header">
      <h1 id="modal-title">Politica de  fidelitate Hotelya</h1>
  </header>
  <section id="modal-body">
<p>3 este numarul norocos! Incepand cu al treilea sejur petrecut la Hotelya, puteti solicita la receptie  inscrierea in programul de fidelitate. La prezentarea cardului in cadrul  hotelului, in calitate de membru al programului de fidelitate  beneficiati de urmatoarele reduceri:</p>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Reducere 15% la tariful de receptie (reducere acordata exclusiv pentru rezervarile realizate prin intermediul departamentului de rezervari al hotelului Vega; reducerea nu se aplica si la suplimente (pat sau mese pentru copiii cu varsta peste 7 ani);</li>
    <li class="list-group-item">Reducere 15% la comenzile a-la-carte in restaurant;</li>
    <li class="list-group-item">Reducere 15% la terapiile spa </li >
    </ul>
        <h3>TERMENI SI CONDITII</h3>
        <p>Cardul de fidelitate poate fi utilizat numai de catre detinatorul acestuia. Transmiterea cardului catre terte persoane este interzisa, iar reducerile si beneficiile nu se acorda altor persoane care nu sunt inscrise in program, chiar daca acestea se afla in posesia unui card de fidelitate</p>
<p>Reducerile si beneficiile pe care le ofera acest card nu pot fi utilizate in combinatie cu alte reduceri, pachete turistice sau oferte promotionale, decat in cazurile indicate in mod expres in ofertele si campaniile de promovare ale hotelului.</p>
<p>Posesorului cardului de fidelitate i se poate retrage calitatea de membru daca acesta produce daune hotelului, are o conduita necorespunzatoare in cadrul si la adresa personalului sau clientilor hotelului. Membrii programului de fidelitate trebuie sa  ne anunte  pe e-mail/fax sau prin posta daca au pierdut sau le-a fost furat cardul.</p>

</section>

</div>
 
        <footer id="modal-footer">
          
            <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Iesire</button>
        </footer>
    </div>
</body>
</html>
