<div class="home">
    <app-navbar></app-navbar>
    <div class="info">
      <p class="textinfo">Toate drumurile duc la Hotelya se spune,asta pentru ca amplasarea si dotarile hotelului   fac sa fie unul dintre cele mai cautate hoteluri din zona .</p>
    <p class="textinfo">Mai jos aveti  o prezentare video a hotelul nostru.</p>
    </div>
<div class="video">
<app-video></app-video>
</div>
<div class="info">
    
       <p class="textinfo">Suntem un hotel cu recunoastere nationala,fiecare client fiind multumit de serviciile noastre.Mai jos avem cateva review-uri de la utilizatorii nostrii.</p>
   

      </div>
    </div>
    
<app-footer></app-footer>
