

  <div class="containerform">
    <div class="title">Creare cont</div>
    <div class="content">
      <form *ngIf="!isSuccessful" [formGroup]="users" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>


   <div class="inputs">
     <mat-form-field appearance="outline" hideRequiredMarker>
       <mat-label>Nume</mat-label>
       <input matInput  formControlName="name" required  [(ngModel)]="form.name" minlength="3" maxlength="50" >

        <mat-error *ngIf="checkError('name','required')">
          Introduceti numele
        </mat-error>
        <mat-error *ngIf="checkError('name','minlength')">
          Numele trebuie sa contina minim 3 caractere
        </mat-error>
        <mat-error *ngIf="checkError('name','maxlength')">
          Numele trebuie sa contina maxim 50 de caractere
        </mat-error>
     </mat-form-field>
   </div>
   <div class="inputs">
     <mat-form-field appearance="outline" hideRequiredMarker>
       <mat-label>Email</mat-label>
       <input matInput  formControlName="email" required [(ngModel)]="form.email" >
       <mat-error *ngIf="checkError('email','required')">
         Introduceti email-ul
       </mat-error>
       <mat-error *ngIf="checkError('email','email')">
        Email-ul trebuie sa contina '@'
      </mat-error>
     </mat-form-field>
   </div>
   <div class="inputs" >
     <mat-form-field appearance="outline" hideRequiredMarker>
       <mat-label>Numele de utilizator</mat-label>
       <input matInput required formControlName="username" [(ngModel)]="form.username" minlength="3" maxlength="20" >
       <mat-error *ngIf="checkError('username','required')">
         Introduceti numele de utilizator
       </mat-error>
       <mat-error *ngIf="checkError('username','minlength')">
       Numele de utilizator trebuie sa aiba minim 3 caractere
      </mat-error>
      <mat-error *ngIf="checkError('username','maxlength')">
        Numele de utilizator trebuie sa aiba maxim 20 caractere
       </mat-error>
     </mat-form-field>
   </div>
   <div class="inputs">
    <mat-form-field appearance="outline" hideRequiredMarker>
      <mat-label>Parola</mat-label>
      <input matInput  formControlName="password" [(ngModel)]="form.password" required [type]="hide ? 'password' : 'text'" >

        <mat-icon matSuffix (click)="hide=!hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>


      </mat-form-field>
   </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
        <p>Aveti cont? <a class="login" (click)="openLogin()">Logati-va</a></p>
        <button mat-flat-button color="warn"(click)="closeModal()" >Iesire</button>
        <div class="alert alert-warning" *ngIf="form.submitted && isSignUpFailed">
          Eroare la crearea contului!<br />{{ errorMessage }}
        </div>

      </form>

      <div class="alert alert-success" *ngIf="isSuccessful">
        Inregistrare realizata cu succes!

      <div>
        <a class="login" (click)="openLogin()">Logati-va</a>
      </div>

      <div>

      </div>
    </div>
  </div>

