<h1 mat-dialog-title>Modificare date rezervari

</h1>
<div mat-dialog-content>

  <form name="form" class="formuser"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>
    <p>Modificati rezervarea</p>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nume</mat-label>
        <input matInput  name="name" required  [(ngModel)]="data.Name"  >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput  name="email" required  [(ngModel)]="data.Email" >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>RoomType</mat-label>
        <input matInput required name="username" [(ngModel)]="data.RoomType" >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Checkin</mat-label>
        <input matInput [matDatepicker]="picker1"  [formControl]="date1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Checkout</mat-label>
        <input matInput [matDatepicker]="picker2" placeholder="Angular forms" [formControl]="date2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div>

      <button mat-raised-button color="accent">Modificati datele</button>

    </div>
  </form>


</div>


